{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% load thumbnail %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 300x0 %}" class="image-detail">
    </a>
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
            <div>
                <span class="count">
                    <span class="total">{{ total_likes }}</span>
                    Нравиться
                </span>
                <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}один{% endif %}Нравиться" class="like button">
                    {% if request.user not in users_like %}
                        Нравиться
                    {% else %}
                        Не нравиться
                    {% endif %}
                </a>
            </div>
            {{ image.description|linebreaks }}
        </div>
        <div class="image-likes">
            {% for user in users_like %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Это изображение пока никому не нравится.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
  $('a.like').click(function(e){
    e.preventDefault();
    $.post('{% url "images:like" %}',
      {
        id: $(this).data('id'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('a.like').data('action');

          // переключить действие данных
          $('a.like').data('action', previous_action == 'Нравиться' ? 'Не нравиться' : 'Нравиться');
          // переключить текст ссылки
          $('a.like').text(previous_action == 'Нравиться' ? 'Не нравиться' : 'Нравиться');

          // обновить общее количество лайков
          var previous_likes = parseInt($('span.count .total').text());
          $('span.count .total').text(previous_action == 'Нравиться' ? previous_likes + 1 : previous_likes - 1);
        }
      }
    );
  });
{% endblock %}